<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <div class="search">
      <form [formGroup]="weatherForm" (submit)="onSubmit()">
        <input
          type="text"
          placeholder="Search city"
          id="city"
          formControlName="cityName"
        />
      </form>
    </div>
    <img
      src="../assets/pic_hot.svg"
      alt="hot weather"
      *ngIf="(weatherData.main.temp | toCelsius) > 15"
    />
    <img
      src="../assets/pic_cold.svg"
      alt="cold weather"
      *ngIf="(weatherData.main.temp | toCelsius) <= 15"
    />
    <div class="weather-data">
      <div class="location">{{ weatherData.name }}</div>
      <div class="temperature">{{ weatherData.main.temp | toCelsius }}°C</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="info-label">More information</div>
    <div class="info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/icon_min.svg" alt="min" />
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.main.temp_min | toCelsius }}°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/icon_max.svg" alt="max" />
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.main.temp_max | toCelsius }}°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/icon_humidity.svg" alt="humidity" />
          <span>hum</span>
        </div>
        <div class="info-block-value">{{ weatherData.main.humidity }}%</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/icon_wind.svg" alt="wind" />
          <span>wind</span>
        </div>
        <div class="info-block-value">{{ weatherData.wind.speed }}m/s</div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
